extends layout

block content
  h1 Enter Your Words
  form(method ="POST" action="/story" id="words")
    label(for="noun1") Noun:
    input(type="text" name="noun1" id="noun1")
    br
    label(for="verb1") Verb:
    input(type="text" name="verb1" id="verb1")
    br
    label(for="adjective1") Adjective:
    input(type="text" name="adjective1" id="adjective1")
    label(for="storyChoice") Choose One
    select(from="words" name="storyChoice" id="storyChoice")
      option(value = "1") Story 1
      option(value = "2") Story 2
      option(value = "3") Story 3
    br
    button(type="submit" form="words") Tell Me a Story